<ion-header>
  <ion-toolbar>
    <ion-title>Recent conversions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="history.length == 0" id="empty-state">
    <ion-icon size="large" name="time-outline"></ion-icon>
    <ion-label>
      Seems empty😀
    </ion-label>
  </ion-list>
  <ion-list>
    <div *ngFor="let item of history; index as i">
      <ion-item button (click)="openModal(i)">
        <ion-label>
          <ion-chip>{{item.unit}}</ion-chip>
        </ion-label>
        <ion-label>
          {{item.date}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
