<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{item.date}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="height: 100%;">
    <ion-item class="ion-no-padding">
      <ion-label style="padding-left:5px;">
        Original unit: {{item.unit}}
      </ion-label>
      <ion-label>{{item.value}}</ion-label>
    </ion-item>
    <div *ngFor="let conversion of item.conversion">
      <ion-item class="ion-no-padding">
        <ion-label style="padding-left:5px;">{{conversion.type}} </ion-label>
        <ion-label>{{conversion.value}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>